<md-toolbar color="primary">
  <span>Custom Toolbar</span>

  <md-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">verified_user</md-icon>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">favorite</md-icon>
    <md-icon class="example-icon">delete</md-icon>
  </md-toolbar-row>
</md-toolbar>


<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>



<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Company (disabled)" disabled value="Google">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>


<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
</form>

<p>Form value: {{ heroForm.value | json }}</p>

<md-grid-list cols="3" rowHeight="4:2">
  <md-grid-tile>1</md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>


  <div fxLayout="row">   
    <div fxFlex="50%">50</div>
    <div fxFlex="50%">50</div>
    
  </div>          



  <div fxLayout="row wrap" class="colored box nopad" >
    <div fxFlex="none">     [flex="none"]       </div>
    <div fxFlex>            [flex]              </div>
    <div fxFlex="nogrow">   [flex="nogrow"]     </div>
    <div fxFlex="grow">     [flex="grow"]       </div>
    
    <div fxFlex="33.33%">   [flex="33.33%"]     </div>
    <div fxFlex="33.33%">   [flex="33.33%"]     </div>
    <div fxFlex="33.33%">   [flex="33.33%"]     </div>
    
  </div>          


  <div
  fxFlex
  class="fxClass-all"
  class.xs="fxClass-xs"
  [class.sm]="{'fxClass-sm': hasStyle}"
  [class.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}"
  [class.lg]="['fxClass-lg', 'fxClass-lg2']">hola1
</div>


<div
style="font-style: italic"
[style.xs]="{'font-size.px': 10, color: 'blue'}"
[style.sm]="{'font-size.px': 20, color: 'green'}"
[style.md]="{'font-size.px': 30, color: 'orange'}"
[style.lg]="styleLgExp">hola2
</div>


<div fxFlex="100%" fxFlex.gt-xs="50%" class="hola">hoooola</div>